<div aria-live="polite" aria-atomic="true" style="position: relative;">
    <div style="position: absolute;">
    {% if   info.type == 1%}
        <div role="alert" aria-live="assertive" aria-atomic="true" class="toast bg-success" data-autohide="false">
    {% elif info.type == 9%}
        <div role="alert" aria-live="assertive" aria-atomic="true" class="toast bg-danger" data-autohide="false">
    {% endif %}
            <div style="text-align: center;" class="toast-body">{{info.message}}</div>
        </div>
    </div>
</div>

<script>
    $(window).on('load', function (){
        //処理
        $('.toast').toast({animation:true, autohide: true, delay:1000});
        $(".toast").toast("show");
    });
</script>